body {
    padding: 0;
    margin: 0;
    background-color: #222;
    color: white;
    text-align: center;
}

img {
    display: none;
}

.canvas-container {
    width: 816px;
    margin: 100px auto;
}

.menu {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-family: 'Luminari', fantasy;
}

.menu button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: #444;
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}

.modal-content {
    background-color: #333;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    color: white;
    border-radius: 10px;
}

.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}
